// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary:#505A5B;
$secondary:#94B0DA;
$success:#97c044;
$info:#599EA7;
$warning:#E4BE4B;
$danger:#BB3A4D;
$light:#DCEDFF;
$dark:#343F3E;

$custom-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

@import "../../../node_modules/bootstrap/scss/bootstrap";

$theme-colors: map-merge($theme-colors, $custom-colors);

// Then add additional custom code here

