<!-- Navigation
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/resume">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">My Projects</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
-->

<!--
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark">
	<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
		<svg class="bi pe-none me-2" width="40" height="32">
			<use xlink:href="#bootstrap"></use>
		</svg>
		<span class="fs-4">Sidebar</span>
	</a>
	<hr>
	<ul class="nav nav-pills flex-column mb-auto">
		<li class="nav-item">
			<a href="#" class="nav-link active" aria-current="page">
				<svg class="bi pe-none me-2" width="16" height="16">
					<use xlink:href="#home"></use>
				</svg>
				Home
			</a>
		</li>
		<li>
			<a href="#" class="nav-link text-white">
				<svg class="bi pe-none me-2" width="16" height="16">
					<use xlink:href="#speedometer2"></use>
				</svg>
				Dashboard
			</a>
		</li>
		<li>
			<a href="#" class="nav-link text-white">
				<svg class="bi pe-none me-2" width="16" height="16">
					<use xlink:href="#table"></use>
				</svg>
				Orders
			</a>
		</li>
		<li>
			<a href="#" class="nav-link text-white">
				<svg class="bi pe-none me-2" width="16" height="16">
					<use xlink:href="#grid"></use>
				</svg>
				Products
			</a>
		</li>
		<li>
			<a href="#" class="nav-link text-white">
				<svg class="bi pe-none me-2" width="16" height="16">
					<use xlink:href="#people-circle"></use>
				</svg>
				Customers
			</a>
		</li>
	</ul>
</div>
-->



<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	<div class="container-fluid d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">



		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
			aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<ul class="nav navbar-nav flex-sm-column flex-row flex-nowrap">
				<li class="nav-item">
				  <a class="nav-link active" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/resume">Resume</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/projects">My Projects</a>
				</li>
			  </ul>
		</div>






	</div>
</nav>