<% layout("Layouts/boilerplate") %>

<div class="col-xl-8 py-3 px-5 mt-5 text-light">
    <h1>Error!</h1>
    <div>
        <span class="h3 px-2">
            <%= err.statusCode %>
        </span>
        <span class="h3 px-2">
            <%= err.message %>
        </span>
    </div>
    <img src="/Img/oh-no-joseph-joestar.gif" alt="" class="py-5">
</div>

