<% layout("Layouts/boilerplate") %>

<div class="card text-bg-primary">
    <img id="home-banner" src="../Img/<%= portfolioData.splash_image %>" class="card-img" alt="...">
        <div class="card-img-overlay p-5">
            <div class="p-xl-5">
                <h1 class="card-title display-2 "><%= portfolioData.name %></h1>
                <p class="card-text h5 px-3"><%= portfolioData.title %></p>
            </div>
        </div>
  </div>

    <%- include("../Partials/portfolio_projects") %>