<% layout("Layouts/boilerplate") %>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img id="home-banner" src="../Img/oliver-plattner-Plt0vHDRb9U-unsplash.png" alt="" class="img-fluid">
                <div class="text-light position-absolute top-0 start-0 p-5">
                    <div class="p-5">
                        <h4 class="display-2"><%= portfolioData.name %></h4>
                        <h5><%= portfolioData.title %></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("../Partials/portfolio_projects") %>